body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  color: $black;
  font-size: 14px;
}

p,
h1,
h2,
h3,
span,
a,
small {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name} {
      color: $color;
    }
  }
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: 600;
}

p {
  font-size: 1em;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  word-wrap: break-word;
}

h2 {
  font-size: 1.3em;
  word-wrap: break-word;
}

h3 {
  font-size: 1.15em;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $black;
}
