body,
button,
input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  color: $black;
  font-size: 16px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2;
}
