$tablet: 725px !default
$desktop: 950px !default
$wide: 1300px !default

// colors
$orange: #f46e00 !default
$blue: #0077b5 !default
$blue-dark: #263238 !default
$red: #D32F2F !default
$pink: #E91E63 !default
$green: #00843D !default
$grey: #9e9e9e !default
$grey-light: #efefef !default
$sky: #1da1f3 !default
$darkblue: #3b5998 !default
$shadow: rgba(0,0,0,0.3) !default
$white: #fff !default
$black: rgba(0,0,0,0.9) !default
$black-light: rgba(0,0,0,0.66) !default

$colors: (white: $white, lightblack: $black-light, black: $black, grey: $grey, shadow: $shadow, orange: $orange, pink: $pink, blue: $blue, green: $green, red: $red, sky: $sky, darkblue: $darkblue) !default
