.columns {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  @include until-wide {
    flex-direction: column;
  }
}

.column {
  padding: 10px;

  @include wide {
    @for $i from 1 through 12 {
      &.is-#{$i} {
        width: ($i / 12) * 100%;
      }
    }
  }

  @include until-wide {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
