.hero {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  width: 50%;
  height: 100%;
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name} {
      background-color: $color;
    }
  }
  @include mobile {
    width: 100%;
    padding-bottom: 80px;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  &.is-center {
    margin: auto;
  }
}
