.box {
  @include box-shadow(0,1px,3px,$shadow,1px);
  @include transition(box-shadow 0.2s ease);
  position: relative;
  border-radius: 3px;
  padding: 20px;

  &:hover {
    @include box-shadow(0,5px,15px,$shadow,3px);
  }

  & + .box {
    margin-top: 30px;
  }

  &:first-child {
    margin-bottom: 20px;
  }

  // Modifier
  &.is-showcase {
    align-items: center;
    display: flex;
    border: none;

    .image {
      &:first-child {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
}
