.icon {
  .fa {
    font-size: 14px;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name} {
      .fa {
        color: $color;
      }
    }
  }

  // Size modifiers
  &.is-small {
    .fa {
      font-size: 11px;
    }
  }

  &.is-medium {
    .fa {
      font-size: 16px;
    }
  }

  &.is-large {
    .fa {
      font-size: 28px;
    }
  }
}

.icon-bar {

  .icon {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
