.image {
  &.is-center {
    margin: 0 auto;
  }

  &:first-child {
    margin-bottom: 20px;
  }

  img {
    @include undraggable;
    border-radius: 100%;
  }

  &.has-shadow {
    img {
      @include box-shadow(0,10px,30px,$shadow,0);
    }
  }

  &.is-small {
    img {
      height: 48px;
      width: 48px;
    }
  }

  &.is-large {
    img {
      height: 250px;
      width: 250px;
    }
  }
}
