.showcase {
  align-items: center;
  border-radius: 3px;
  border: 1px solid $shadow;
  display: flex;
  padding: 20px;

  & + .showcase {
    margin-top: 20px;
  }

  .image {
    &:first-child {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}
