.tag {
  border-radius: 3px;
  display: inline;
  padding: 5px 8px;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: findColorInvert($color);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
    }
  }

  &.is-small {
    font-size: 0.8em;
  }
  &.is-medium {
    font-size: 1.3em;
  }
  &.is-large {
    font-size: 2em;
  }
}
