.title {
  font-size: 2.5em;
  & + .subtitle {
    margin-top: 25px;
  }
}

.subtitle {
  font-size: 1.2em;
}

.heading {
  display: inline-block;
  line-height: 1.2;
  padding-bottom: 8px;
  padding-left: 0;
  position: relative;

  &:before {
    background: $blue;
    bottom: 0;
    border-radius: 8px;
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
  }
}
